<h1>All Users</h1>
<% @users.each do |user| %>

  <h2><%= link_to user.full_name, admin_user_path(user) %></h2>
  <p>Email: <%= user.email %></p>
  <p>Created at: <%= formatted_date(user.created_at) %> | Updated at: <%= formatted_date(user.updated_at) %></p>
<% end %>