<div class="container-fluid">
  <nav id="bs-navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <h1><%= link_to "Rotten Mangoes", movies_path %></h1>
      </li>
    </ul>  
  </nav>
  <hr>
</div>